<div class="mx-auto max-w-2xl py-24 sm:py-32">
  <div class="hidden sm:mb-8 sm:flex sm:justify-center">
    <div class="relative rounded-full py-1 px-3 text-sm leading-6 text-tertiary-600 ring-1 ring-tertiary-900/10 hover:ring-tertiary-900/20">
      Announcing our next round of funding. <a href="#" class="font-semibold text-primary-500"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
  <div class="text-center">
    <h1 class="text-4xl font-bold tracking-tight text-tertiary-900 sm:text-6xl">Track progress <span class="text-primary-500">together</span> & achieve your goals</h1>
    <p class="mt-6 text-lg leading-8 text-tertiary-600">Unlock your clients' full potential and drive their success with Timeline: The app that makes progress tracking and goal achievement a team effort.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="#" class="rounded-sm bg-primary-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">Get started</a>
      <a href="#" class="text-sm font-semibold leading-6 text-tertiary-900">Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</div>